.iconButton {
  background-color: rgb(252, 251, 251);
  transition: background-color 0.3s;
  font-size: 16px;
}

.iconButton:hover {
  background-color: rgb(159, 157, 157);
}

.IoMdClose {
  color: rgb(0, 0, 0);
}
.IoMdClose:hover {
  color: rgb(252, 251, 251);
}

.avatar-icon:hover {
  background-color: #ffffff;
}

.search-icon:hover {
  background-color: #f5fafd;
}
